<div class="row">
  <div class="header-title col-10">
    <a class="site-title" href="\{\{ relative_url \}\}/">\{\{ site.title \}\}</a>
  </div>
  <div class="header-icons col-2">
    <a href="\{\{'pattern-index.html' | relative_url \}\}" ><img src="\{\{ '/icons/list-ul.svg' | relative_url \}\}" class="icon" title="Liste alphabétique de toutes les pratiques." alt="index des pratiques" /></a>
    <a href="\{\{'map.html' | relative_url \}\}" ><img src="\{\{'/icons/map.svg' | relative_url \}\}" class="icon" alt="cartographie des pratiques" title="Utilisez la carte pour naviguer entre les pratiques." /></a>
    <span id="annotate-span"><a href="" id="annotate-link"><img src="\{\{ '/icons/comments-alt.svg' | relative_url \}\}" class="icon" title="Annotez cette page avec hypothes.is. Cliquez ici, attendez que la page soit rechargée, puis vous pouvez mettre en surbrillance le texte et ajouter des commentaires publics. Vous devrez créer un compte gratuit sur hypothes.is." alt="annotez cette page" /></a></span>
  </div>
</div>
